*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}

h1{
  margin-bottom: 30px;
}

.quadrado {
  text-align: center;
  width: 140px;
  background: #eee;
  display: inline-block;
  padding: 40px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #eee;
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 10px;
}

button {
  margin-top: 10px;
  width: 100px;
  height: 30px;
  background: #eee;
  cursor: pointer;
}
